@import url('https://fonts.googleapis.com/css?family=Manrope:700|Manrope:400');
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

*{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    margin: 0px;
    padding: 0px;
}

:root {
    --c-blue-900: #081030;
    --c-blue-800: #111b40;
    --c-blue-700: #152148;
    --c-blue-500: #1d7bdb;
    --c-blue-300: #293359;
    --c-blue-200: #4e5985;
    --c-blue-100: #dfe8ff;
    --c-green-400: #4ade80;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --body-color: #4a4a4a;
    --primary-color: #343e61;
    --secondary-color: #346dff;
    --tersiary-color: #ff6854;
    --white-color: white;
    --subtitle-color: #292929;
    --pale-blue-color: #f4f7ff;
}

.pale-blue-bg {
    background-color: #f4f7ff;
}
.pale-blue-darker-bg {
    background-color: #d9e2fc;
}
.hkcm_bg{
    background-image: url("https://app.swapix.fun/media/backgrounds/auth.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
